/* Grid Variables */
$max-width: 1000px;

/* Susy Settigns */
$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;
//1em

/* Responsive Columns */
$first-break: 30em $total-columns*1.5;

$second-break: 40em $total-columns*2;

$third-break: 50em $total-columns*3;

$fourth-break: 60em $total-columns*3;

$fifth-break: 70em $total-columns*3;

/* Base Variables */
$base-font-size: 16px;
$base-line-height: 6px;

/* EM Conversion function */
@function em($target) {
  @return ($target / $base-font-size) * 1em;
}

/* Colors */
$primary-color: rgb(72, 54, 139);
$secondary-color: rgb(116, 44, 128);
$tertiary-color: rgb(124, 151, 42);

$white: shade(#ffffff, 10%);
$gray_primary: darken(#ffffff, 25%);
$gray_secondary: darken(#ffffff, 50%);
$gray_tertiary: darken(#ffffff, 75%);
$gray_tertiary_hover: scale-lightness($gray_tertiary, -25%);
$black: tint(#000000, 10%);

/* Fonts */
@import url();
$header-font: Arial;
$body-font: Arial, Helvetica, sans-serif;
$mono-font: DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New;
// $alt-font: serif
